@model string
@using Newtonsoft.Json

<!-- Thông báo khi thêm, cập nhật, chuyển trạng thái thành công-->

<div class="modal" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content text-white" style="background-color: #152036;">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Thông báo</h5>
			</div>
			<div class="modal-body text-center" style="font-size: 18px !important;">
				<p id="message-content"></p>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		var message = '@Html.Raw(JsonConvert.SerializeObject(Model))';
		if (message !== '') {
			message = message.replace(/"/g, '');
			$("#message-content").text(message);
			$("#message-modal").modal('show');
			setTimeout(function () {
				$("#message-modal").modal('hide');
			}, 3000);
		}
	});
</script>



